ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#about-mid{
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/home/chrx/Desktop/Hackathon/171.jpg);
  background-size: 1900px 1200px;
  background-repeat: no-repeat;
  background-position: center;
  width:1900px;
  height:500px;
  margin: -30px;
  padding:0px;
  text-shadow: 2px 2px #000000;
}

.h1{
  font-size: 40px;
  text-align: center;

}
.title{
  text-align: center;
  font-size: 70px;
  position: relative;
  left:-300px
  top:-150px

}
h1{
  color: white;
    font-family: "Arial"
}


#about-lower{
  width:2000px;
  height:400px;
  background: #004d00;
  margin: -20px;
  padding:2px

}

#sadler{
  background-image: url(/home/chrx/Desktop/Hackathon/sadler-center-at-william-and-mary-college-jerry-gammon.jpg);
  background-size: 350px 325px;
  position:absolute;
  left:575px;
}

#commons{
  background-image: url(/home/chrx/Desktop/Hackathon/48.jpg);
  background-size: 350px 350px;
  position:absolute;
  left:850px;

}

#marketplace{
  background-image: url(/home/chrx/Desktop/Hackathon/198.jpg);
  background-size: 350px 275px;
  position:absolute;
  left:1160px;
}
.main-buttons{
  background-color:black;
  border:none;
  color:white;
  padding: 80px 90px;
  font-size: 25px;

  text-shadow: 4px 4px #000000;
  display: inline-block;
  background-repeat: no-repeat;

}

.main-buttons:hover{
  background-color:white;

}
